header{
    background-color: rgb(218, 184, 201);
}
.menubar{
    background-color: rgb(226, 164, 183, .5);
}

.site-navigation{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-left: 15rem;
    padding-right: 15rem;
}

.topic{
    text-align: center;
    font-family: 'Niconne', sans-serif;
    font-size: 5rem;
    color: rgb(117, 18, 117)
 }

.slide{
    font-family: 'Niconne', sans-serif;
    font-size: 5rem;
    color:rgb(105, 13, 105)
}

.navigation a{
    transition: .5s;
    color: rgb(92, 11, 74);
    text-decoration: none;
}

.navigation:hover {
    font-size: x-large;
    color: rgb(230, 20, 125);
}

.d-block {
    width: 300px;
    height: 700px;
    object-fit: cover;
}

.group-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: bisque;
}

.grid-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-group{
    width: 300px;
    height: 300px;
    object-fit: cover;    
    border: 6px solid rgb(221, 146, 171);
}

.groupbtn{
    text-align: center;
    transition: 1s;
    width: 150px;
    background-color: lightpink;
    height: 40px;
    border-radius: 5px;
}

.groupbtn:hover{
    background-color: rgb(223, 84, 153);
    width: 300px;
}

.nav-description{
    padding-top: 3rem;
    padding-left: 2rem;
}

.form-footer{
    padding-top: 3rem;
    padding-left: 2rem;
}

#newsletter{
    text-align: center;
    transition: 1s;
    width: 200px;
    background-color: rgb(224, 183, 188);
    height: 40px;
    border-radius: 5px;
}

#newsletter:hover{
    background-color: rgb(228, 132, 180);
    width: 250px;
}

.newsbtn{
    width: 100px;
    background-color: rgb(150, 88, 190);
    height: 40px;
    border-radius: 5px;
    animation: roll 3s infinite;
}

@keyframes roll {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

#massage-me{
    /* position: fixed;
    z-index: 2; */
    width: 200px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(11, 33, 58);
    cursor: pointer;
    padding: 1.5rem;
    margin-left: 2rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    background-color: aquamarine;
    transition: 1s;
}

#massage-me:hover{
    background: #2691d9;
    width: 300px;
}

.header-color{
    background-color: aquamarine;
}

.img-group{
    border-radius: 20px;
}

.grid-img img{
    transition: 0.5s all ease-in-out;
}

.grid-img:hover img{
    transform: scale(1.5);
}

.footer-copyright{
    padding-top: 1rem;
    padding-left: 1rem;
    border-top: solid 1px rgb(11, 134, 141);
    text-align: center;
}